In [1]:
import pandas as pd
import numpy as np 
import tensorflow as tf 

import os
import warnings
warnings.simplefilter(action='ignore', category=SyntaxWarning)

WARNING:tensorflow:From c:\Users\sitia\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
heart_1 = pd.read_csv('dataset/raw_1.csv')

In [3]:
heart_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
print("Jumlah duplikasi: ", heart_1.duplicated().sum())

Jumlah duplikasi:  1

In [5]:
# Menampilkan data yang duplikat
duplicate_data = heart_1[heart_1.duplicated()]

# Menampilkan hasil
print(duplicate_data)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
164   38    1   2     138   175    0        1       173     0      0.0    2

     caa  thall  output
164    4      2       1

In [6]:
heart_1 = heart_1.drop_duplicates()

In [7]:
print("Jumlah duplikasi: ", heart_1.duplicated().sum())

Jumlah duplikasi:  0

In [8]:
print("Jumlah data setelah menghapus duplikasi:", len(heart_1))

Jumlah data setelah menghapus duplikasi: 302

In [9]:
heart_1.describe(include="all")

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.42053,0.682119,0.963576,131.602649,246.500000,0.149007,0.526490,149.569536,0.327815,1.043046,1.397351,0.718543,2.314570,0.543046
std,9.04797,0.466426,1.032044,17.563394,51.753489,0.356686,0.526027,22.903527,0.470196,1.161452,0.616274,1.006748,0.613026,0.498970
min,29.00000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.00000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.50000,1.000000,1.000000,130.000000,240.500000,0.000000,1.000000,152.500000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.00000,1.000000,2.000000,140.000000,274.750000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.00000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
heart_1['cp'] = heart_1['cp'] + 1

In [11]:
heart_1['cp'].value_counts()

cp
1    143
3     86
2     50
4     23
Name: count, dtype: int64

In [12]:
heart_1.to_csv('heart_1.csv', index=False)

cleaned file 2

In [13]:
heart_2 = pd.read_csv('dataset/raw_2.csv')

In [14]:
pd.read_csv('dataset/raw_2.csv')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,1
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,1
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,1
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,1
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2

In [15]:
heart_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       270 non-null    int64
 1   sex       270 non-null    int64
 2   cp        270 non-null    int64
 3   trestbps  270 non-null    int64
 4   chol      270 non-null    int64
 5   fbs       270 non-null    int64
 6   restecg   270 non-null    int64
 7   thalach   270 non-null    int64
 8   exang     270 non-null    int64
 9   oldpeak   270 non-null    float64
 10  slope     270 non-null    int64
 11  ca        270 non-null    int64
 12  thal      270 non-null    int64
 13  target    270 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 29.7 KB

In [16]:
print("Jumlah duplikasi: ", heart_2.duplicated().sum())

Jumlah duplikasi:  0

In [17]:
print("Data sebelum transformasi:")
print(heart_2['target'].value_counts())

Data sebelum transformasi:
target
1    150
2    120
Name: count, dtype: int64

In [18]:
heart_2['target'] = heart_2['target'].replace({1: 0, 2: 1})

In [19]:
print("\nData setelah transformasi:")
print(heart_2['target'].value_counts())

Data setelah transformasi:
target
0    150
1    120
Name: count, dtype: int64

In [20]:
heart_2.describe(include="all")

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296,0.444444
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659,0.497827
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000,0.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000,1.000000

In [21]:
heart_2.to_csv('heart_2.csv', index=False)

cleaned file 3

In [22]:
heart_3 = pd.read_csv('dataset/raw_3.csv')

In [23]:
pd.read_csv('dataset/raw_3.csv')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0.23
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0.37
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0.24
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0.28
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,0.85
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0.40
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0.15
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,0.82
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0.39

In [24]:
heart_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   float64
dtypes: float64(2), int64(12)
memory usage: 112.2 KB

In [25]:
heart_3['target'].head()

0    0.23
1    0.37
2    0.24
3    0.28
4    0.21
Name: target, dtype: float64

In [26]:
heart_3['target'] = (heart_3['target'] >= 0.5).astype(int)

In [27]:
heart_3['target'].head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [28]:
heart_3['target'].value_counts()

target
1    526
0    499
Name: count, dtype: int64

In [29]:
heart_3.describe(include="all")

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [30]:
heart_3['cp'].value_counts()

cp
0    497
2    284
1    167
3     77
Name: count, dtype: int64

In [31]:
heart_3['cp'] = heart_3['cp'] + 1

In [32]:
heart_3['cp'].value_counts()

cp
1    497
3    284
2    167
4     77
Name: count, dtype: int64

In [33]:
heart_3.to_csv('heart_3.csv', index=False)

cleaned file 4

In [34]:
pd.read_csv('dataset/raw_4.csv')

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,60,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,35,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,55,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,56,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,60,1,0,140,207,0,0,138,1,1.9,2,1,3,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
287,54,1,1,154,232,0,0,164,0,0.0,2,1,2,0
288,53,1,0,110,335,0,1,143,1,3.0,1,1,3,0

In [35]:
heart_4 = pd.read_csv('dataset/raw_4.csv')

In [36]:
heart_4['cp'].value_counts()

cp
0    126
2     86
1     54
3     23
Name: count, dtype: int64

In [37]:
heart_4['cp'] = heart_4['cp'] + 1

In [38]:
heart_4['cp'].value_counts()

cp
1    126
3     86
2     54
4     23
Name: count, dtype: int64

In [39]:
heart_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       289 non-null    int64
 1   sex       289 non-null    int64
 2   cp        289 non-null    int64
 3   trtbps    289 non-null    int64
 4   chol      289 non-null    int64
 5   fbs       289 non-null    int64
 6   restecg   289 non-null    int64
 7   thalachh  289 non-null    int64
 8   exng      289 non-null    int64
 9   oldpeak   289 non-null    float64
 10  slp       289 non-null    int64
 11  caa       289 non-null    int64
 12  thall     289 non-null    int64
 13  output    289 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 31.7 KB

In [40]:
heart_4['output'].value_counts()

output
1    165
0    124
Name: count, dtype: int64

In [41]:
heart_4.to_csv('heart_4.csv', index=False)

### Merged Dataset

In [42]:
new_columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
                  'thalachh', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'label']

In [43]:
# Load the first dataset

dataset_1 = pd.read_csv('heart_1.csv')
print("Dataset 1 Columns:")
print(dataset_1.columns)

# Keep only the required columns and rename them
dataset_1 = dataset_1.iloc[:, :len(new_columns)]  # Keep only the first 14 columns
dataset_1.columns = new_columns  # Rename columns
print(dataset_1.columns)

Dataset 1 Columns:
Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'label'],
      dtype='object')

In [44]:
# Load the second dataset

dataset_2 = pd.read_csv('heart_2.csv')
print("Dataset 2 Columns:")
print(dataset_2.columns)

# Keep only the required columns and rename them
dataset_2 = dataset_2.iloc[:, :len(new_columns)]  # Keep only the first 14 columns
dataset_2.columns = new_columns  # Rename columns
print(dataset_2.columns)

Dataset 2 Columns:
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'label'],
      dtype='object')

In [45]:
# Load the third dataset

dataset_3 = pd.read_csv('heart_3.csv')
print("Dataset 3 Columns:")
print(dataset_3.columns)

# Keep only the required columns and rename them
dataset_3 = dataset_3.iloc[:, :len(new_columns)]  # Keep only the first 14 columns
dataset_3.columns = new_columns  # Rename columns
print(dataset_3.columns)

Dataset 3 Columns:
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'label'],
      dtype='object')

In [46]:
# Load the fourth dataset

dataset_4 = pd.read_csv('heart_4.csv')
print("Dataset 4 Columns:")
print(dataset_4.columns)

# Keep only the required columns and rename them
dataset_4 = dataset_4.iloc[:, :len(new_columns)]  # Keep only the first 14 columns
dataset_4.columns = new_columns  # Rename columns
print(dataset_4.columns)

Dataset 4 Columns:
Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'label'],
      dtype='object')

In [47]:
# Merge all datasets
merged_dataset = pd.concat([dataset_1, dataset_2, dataset_3, dataset_4], ignore_index=True)

# Display the merged dataset columns
print("Merged Dataset Columns:")
print(merged_dataset.columns)

merged_dataset.to_csv('merged_heart.csv', index=False)

Merged Dataset Columns:
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'label'],
      dtype='object')

In [48]:
merged_heart = pd.read_csv('merged_heart.csv')

In [49]:
merged_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886 entries, 0 to 1885
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1886 non-null   int64
 1   sex       1886 non-null   int64
 2   cp        1886 non-null   int64
 3   trestbps  1886 non-null   int64
 4   chol      1886 non-null   int64
 5   fbs       1886 non-null   int64
 6   restecg   1886 non-null   int64
 7   thalachh  1886 non-null   int64
 8   exang     1886 non-null   int64
 9   oldpeak   1886 non-null   float64
 10  slope     1886 non-null   int64
 11  ca        1886 non-null   int64
 12  thal      1886 non-null   int64
 13  label     1886 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 206.4 KB

In [50]:
merged_heart['label'].value_counts()

label
1    975
0    911
Name: count, dtype: int64

In [51]:
merged_heart.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalachh    0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
label       0
dtype: int64

In [52]:
merged_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886 entries, 0 to 1885
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1886 non-null   int64
 1   sex       1886 non-null   int64
 2   cp        1886 non-null   int64
 3   trestbps  1886 non-null   int64
 4   chol      1886 non-null   int64
 5   fbs       1886 non-null   int64
 6   restecg   1886 non-null   int64
 7   thalachh  1886 non-null   int64
 8   exang     1886 non-null   int64
 9   oldpeak   1886 non-null   float64
 10  slope     1886 non-null   int64
 11  ca        1886 non-null   int64
 12  thal      1886 non-null   int64
 13  label     1886 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 206.4 KB

In [55]:
merged_heart['cp'].value_counts()

cp
1    786
3    535
2    313
4    252
Name: count, dtype: int64

In [53]:
merged_heart['label'].value_counts()

label
1    975
0    911
Name: count, dtype: int64

In [54]:
merged_heart.to_csv('cleaned_merge_heart.csv', index=False)