In [1]:
%pip install numpy scipy pandas matplotlib seaborn pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\asus\appdata\roaming\python\python313\site-packages (2.1.3)
Requirement already satisfied: scipy in c:\users\asus\appdata\roaming\python\python313\site-packages (1.14.1)
Requirement already satisfied: pandas in c:\users\asus\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\asus\appdata\roaming\python\python313\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\asus\appdata\roaming\python\python313\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import matplotlib 
import seaborn as sn
import pandas as pd
import scipy as sp

## Load Data

In [4]:
# heartattack_dataset
heart_attack_df = pd.read_csv("heart.csv")

# os2Saturation
os2Saturation_df = pd.read_csv("o2Saturation.csv")

##  Assesing File heart_attack_df

In [5]:
heart_attack_df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
heart_attack_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [23]:
heart_attack_df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [8]:
print("Jumlah duplikasi: ", heart_attack_df.duplicated().sum())

Jumlah duplikasi:  1

In [20]:
heart_attack_df.describe(include="all")

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.42053,0.682119,0.963576,131.602649,246.500000,0.149007,0.526490,149.569536,0.327815,1.043046,1.397351,0.718543,2.314570,0.543046
std,9.04797,0.466426,1.032044,17.563394,51.753489,0.356686,0.526027,22.903527,0.470196,1.161452,0.616274,1.006748,0.613026,0.498970
min,29.00000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.00000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.50000,1.000000,1.000000,130.000000,240.500000,0.000000,1.000000,152.500000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.00000,1.000000,2.000000,140.000000,274.750000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.00000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

## Assesing File os2Saturation_df

In [10]:
os2Saturation_df.head()

   98.6
0  98.6
1  98.6
2  98.6
3  98.1
4  97.5

In [11]:
os2Saturation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   98.6    3585 non-null   float64
dtypes: float64(1)
memory usage: 28.1 KB

In [12]:
os2Saturation_df.isna().sum()

98.6    0
dtype: int64

In [13]:
print("Jumlah duplikasi: ", os2Saturation_df.duplicated().sum())

Jumlah duplikasi:  3568

In [19]:
os2Saturation_df.describe()

              98.6
count  3585.000000
mean     98.239275
std       0.726336
min      96.500000
25%      97.600000
50%      98.600000
75%      98.600000
max      99.600000

## Clean heartattack_df

In [14]:
heart_attack_df.value_counts()

age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
38   1    2   138     175   0    1        173       0     0.0      2    4    2      1         2
35   1    0   120     198   0    1        130       1     1.6      1    0    3      0         1
              126     282   0    0        156       1     0.0      2    0    3      0         1
          1   122     192   0    1        174       0     0.0      2    0    2      1         1
37   0    2   120     215   0    1        170       0     0.0      2    0    2      1         1
                                                                                             ..
41   1    1   135     203   0    1        132       0     0.0      1    0    1      1         1
          2   112     250   0    1        179       0     0.0      2    0    2      1         1
              130     214   0    0        168       0     2.0      1    0    2      1         1
42   0    0   102     265   0    0        122       0     0.6      1    0    2      1         1
35   0    0   138     183   0    1        182       0     1.4      2    0    2      1         1
Name: count, Length: 302, dtype: int64

In [15]:
heart_attack_df.drop_duplicates(inplace=True)

In [16]:
print("Jumlah duplikasi: ", heart_attack_df.duplicated().sum())

Jumlah duplikasi:  0

## Clean File osSaturation_df

In [17]:
os2Saturation_df.drop_duplicates(inplace=True)

In [18]:
print("Jumlah duplikasi: ", os2Saturation_df.duplicated().sum())

Jumlah duplikasi:  0